.gala-banner{
    margin-bottom: 20px;
    .banner-info{
        padding: 40px;
        border-radius: 20px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        @media(max-width: 767px){
            padding: 40px 20px;
        }
        .gala-logo{
            margin-bottom: 80px;
        }
        h1{
            font-size: 64px;
            font-style: normal;
            font-weight: 700;
            line-height: 100%;
            margin-bottom: 30px;
            color: white;
            @media(max-width: 767px){
                font-size: 40px;
                margin-bottom: 10px;
            }
        }
        p{
            max-width: 310px;
            margin-bottom: 20px;
            color: #FFF;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            @media(max-width: 767px){
                font-size: 14px;
            }
        }
        .buttons{
            @include flex;
            margin-bottom: 70px;
            @media(max-width: 767px){
               margin-bottom: 20px;
            }
            a{
                margin-right: 10px;
                padding: 6px 24px 8px;
                border-radius: 50px;
                font-size: 18px;
                font-weight: 500;
                color: white;
                @media(max-width: 767px){
                    font-size: 12px;
                    padding-left: 16px;
                    padding-right: 16px;
                }
                &:hover{
                    &.red-btn{
                        background: white;
                        color: #FF002B;
                    }
                    &.blue-btn{
                        background: white;
                        color: #043BA8;
                    }
                }
            }
        }
        .address{
            span{
                @include flex;
                @include align-center;
                margin-top: 15px;
                font-weight: 500;
                color: white;
                font-size: 13px;
                img{
                    margin-right: 6px;
                }
            }
        }
    }
}

.bannerSwiper, .banner2Swiper{
    .swiper-slide {
        border: 3px solid transparent;
        border-radius: 16px;
        overflow: hidden;
        transition: border 0.3s;
        cursor: pointer;
        @media (max-width: 768px) {
            border-radius: 10px;
          }
      }
  
      .swiper-slide-active {
        border: 3px solid #a1001d; 
        @media(max-width: 1024px){
            border-width: 2px;
          }
      }
  
      .swiper-slide img {
        display: block;
        width: 100%;
        height: auto;
      }
  
      .swiper-button-prev,
      .swiper-button-next {
        color: #a1001d;
      }
  
}

.banner-slider-wrap2{
    .slider-big-image{
        @include flex;
        border-radius: 20px;
        margin-top: 20px;
        overflow: hidden;
        @media (max-width: 768px) {
           border-radius: 8px;
           height: 50vw;
          }
        img{
            width: 100%;
        }
    }
}

.banner2Swiper{
    padding-top: 50px;
    position: relative;
    .arrows-wrap{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 10;
    }
}

.arrows-wrap{
    @include flex;
    @include align-center;
    padding: 20px 0;
    .swiper-pagination {
        @include flex;
        padding: 0 30px;
        position: static;
        flex-grow: 1;
        margin: 0;
        height: 30px;
        @media(max-width: 1200px){
            padding: 0 10px;
          }
        span{
            margin: 0 5px;
            flex-grow: 1;
            height: 8px;
            transition: .3s;
            border-radius: 8px;
            background: #7F0217;
            @media(max-width: 1024px){
                height: 6px;
              }
        }
    }
    
    .swiper-pagination-bullet-active{
        background: #7F0217;
    }
    .swiper-button-prev{
        img{
            transform: rotate(180deg);
        }
    }
    .swiper-button-next, .swiper-button-prev{
        width: 30px;
        height: 30px;
        min-width: 30px;
        @include flex;
        background: #7F0217;
        border-radius: 12px;
        transform: translate(0,0);
        position: static;
        &:after{
            content: none;
        }
        img{
            margin: auto;
        }
    }
}

.red-btn{
    padding: 6px 24px 8px;
    background: #FF002B;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 500;
    color: white;
}

.gala-location{
    .wrapper{
        @media(max-width: 1024px){
           padding-right: 0;
          }
    }
    .info{
        border-radius: 36px;
        background: #7F0217;
        overflow: hidden;
        @media(max-width: 1024px){
            background: none;
            overflow: visible;
          }
        .top{
            @include flex;
            @include align-center;
            padding: 34px;
            @media(max-width: 1024px){
                padding: 0;
                margin-bottom: 20px;
              }
              @media(max-width: 767px){
                @include dir-col;
                align-items: flex-start;
              }
           h2{
            font-size: 40px;
            font-weight: bold;
            color: white;
            line-height: 100%;
            max-width: 570px;
            @media(max-width: 1024px){
                color: #1b1b1b;
                font-size: 32px;
                max-width: 700px;
              }
              @media(max-width: 767px){
                font-size: 30px;
                padding-right: 15px;
                margin-bottom: 20px;
              }

           }
           p{
            max-width: 500px;
            width: 100%;
            color: white;
            font-weight: 500;
            font-size: 18px;
            margin-left: 30px;
            @media(max-width: 1024px){
                color: #1b1b1b;
                font-size: 16px;
              }
              @media(max-width: 767px){
                font-size: 14px;
                margin-left: 0;
                padding-right: 15px;
              }
           }
        }
        .img-wrap{
            @include flex;
            @media(max-width: 1024px){
                display: none;
              }
            img{
                width: 100%;
            }
        }
    }
}

.locationSwiper{
    padding: 30px;
    padding-top: 10px;
    max-width: 1160px;
    margin: 0;
    @media(max-width: 1024px){
        padding: 15px 0;
      }
    .swiper-slide{
        @media(max-width: 1024px){
            padding: 20px;
            border-radius: 8px;
            overflow: hidden;
            background: #7F0217;
            min-height: 180px;
          }
        @media(max-width: 767px){
            width: 170px;
            padding: 10px;
            min-height: 130px;
          }
          
        .top-line{
            @include flex;
            @include align-center;
            margin-bottom: 24px;
            @media(max-width: 767px){
                margin-bottom: 14px;
              }
            .icon{
                margin-right: 12px;
                @include flex;
                width: 40px;
                height: 40px;
                min-width: 40px;
                border-radius: 8px;
                background: white;
                @media(max-width: 767px){
                    width: 24px;
                    height: 24px;
                    min-width: 24px;
                    margin-right: 8px;
                  }
                img{
                    margin: auto;
                }
            }
            span{
                max-width: 130px;
                width: 100%;
                display: inline-block;
                color: white;
                font-size: 18px;
                font-weight: 500;
                @media(max-width: 1024px){
                    font-size: 14px;
                  }
                  @media(max-width: 767px){
                    font-size: 12px;
                    max-width: 90px;
                  }
            }
        }
        ul{
            li{
                @include flex;
                @include align-center;
                margin-bottom: 20px;
                @media(max-width: 1024px){
                    margin-bottom: 10px;
                  }
                &:last-child{
                    margin-bottom: 0;
                }
                .circle{
                    width: 10px;
                    height: 10px;
                    background: white;
                    border-radius: 50%;
                    margin-right: 12px;
                    @media(max-width: 767px){
                        width: 6px;
                        height: 6px;
                        margin-right: 8px;
                      }
                }
                .text{
                    font-size: 18px;
                    font-weight: 500;
                    opacity: 0.7;
                    color: white;
                    @media(max-width: 1024px){
                        font-size: 14px;
                      }
                      @media(max-width: 767px){
                       font-size: 10px;
                      }
                }
            }
        }
    }
    .swiper-pagination{
        @media(max-width: 1024px){
            margin: 20px 0;
            position: static;
            padding: 0;
            span{
                background: #7F0217;
            }
          }
    }
}

.gala-leave-request{
    .leave-request-info{
        form{
            .send-btn{
                background: #7F0217;
                height: 52px;
                padding: 16px;
                font-size: 16px;
                font-weight: 500;
                color: white;
                @include flex;
                @include align-center;
                @include justify-center;
                border-radius: 6px;
                &:hover{
                    background: lighten(#7F0217, 7%);
                }
            }
        }
        .info{
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            .texts{
                h2{
                    font-size: 50px;
                    @media(max-width: 767px){
                        font-size: 34px;
                      }
                }
                span{
                    max-width: 310px;
                    font-size: 27px;
                    display: inline-block;
                    @media(max-width: 767px){
                       font-size: 16px;
                       max-width: 250px;
                      }
                }
            }
        }

    }
}

.information-block{
    margin: 20px 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 48vw;
    @media(max-width: 1024px){
        height: 56vw;
      }
    .info{
        @include flex;
        @include justify-between;
        padding-top: 50px;
        @media(max-width: 1024px){
            padding: 50px 0;
          }
          @media(max-width: 767px){
           padding: 0px;
           display: grid;
           grid-template-columns: 1fr 1fr 1fr;
           gap: 10px;
          }
        .info-item{
            @media(max-width: 767px){
               background: #7F0217;
               border-radius: 6px;
               padding: 12px 8px;
                }
            .top{
                @include flex;
                @include align-center;
                margin-bottom: 15px;
                @media(max-width: 767px){
                    margin-bottom: 10px;
                   }
                span{
                    font-size: 18px;
                    font-weight: 500;
                    color: #7F0217;
                line-height: 110%;
                max-width: 140px;
                @media(max-width: 767px){
                    font-size: 11px;
                    font-weight: bold;
                    color: white;
                   }
                }
                .icon{
                    width: 40px;
                    height: 40px;
                    border-radius: 10px;
                    background: #7F0217;
                    @include flex;
                    margin-right: 10px;
                    @media(max-width: 767px){
                        display: none;
                       }
                    img{
                        margin: auto;
                    }
                }
                
            }
            ul{
                border-radius: 10px;
                padding: 20px;
                background: #7F0217;
                @media(max-width: 767px){
                    padding: 0;
                     }
                li{
                    @include flex;
                    @include align-center;
                    margin-bottom: 15px;
                    @media(max-width: 767px){
                        margin-bottom: 8px;
                        }
                    .circle{
                        border-radius: 2px;
                        width: 8px;
                        height: 8px;
                        background: white;
                        margin-right: 10px;
                        @media(max-width: 767px){
                            width: 4px;
                            height: 4px;
                            margin-right: 4px;
                             }
                    }
                    .text{
                        font-size: 18px;
                        font-weight: 500;
                        color: white;
                        @media(max-width: 767px){
                            font-size: 8px;
                            }
                    }
                    &:last-child{
                        margin-bottom: 0;
                    }
                }
            }
            &:nth-child(1){
                margin-top: 100px;
                @media(max-width: 767px){
                   margin-top: 0;
                   }
            }
            &:nth-child(3){
                margin-top: 100px;
                @media(max-width: 767px){
                    margin-top: 0;
                    }
            }
        }
    }
}

.your-layout{
    margin: 20px 0;
    h2{
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 30px;
        color: #1B1B1B;
        @media(max-width: 1024px){
            font-size: 30px;
            margin-bottom: 20px;
          }
    }
    .info{
        @include flex;
        @media(max-width: 1024px){
            flex-direction: column-reverse;
          }
        .images{
            width: 290px;
            margin-right: 20px;
            min-width: 290px;
            padding: 20px;
            border-radius: 24px;
            background: white;
            height: 800px;
            overflow-y: auto;
            @media(max-width: 1024px){
                margin-top: 20px;
                margin-right: 0;
                width: 100%;
                min-width: 100%;
                height: auto;
              }
              
            &::-webkit-scrollbar {
                width: 6px; 
                height: 6px; 
              }
              
              &::-webkit-scrollbar-thumb {
                background-color: #7F0217; 
                border-radius: 4px;
              }
              
              &::-webkit-scrollbar-track {
                background: rgba(#7F0217, .3);
              }
            .scroll{
                overflow-y: auto;
                min-height: 100%;
                @media(max-width: 1024px){
                    @include flex;
                    overflow: inherit;
                    overflow-x: auto;
                    min-width: 767px;
                  }
                .img{
                    @include flex;
                    height: 230px;
                    margin-bottom: 20px;
                    @media(max-width: 1024px){
                        width: 160px;
                        height: 160px;
                        margin-right: 10px;
                        margin-bottom: 0;
                      }
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
        .planing-info{
            flex-grow: 1;
            background: white;
            @include flex;
            align-self: flex-start;
            border-radius: 24px;
            overflow: hidden;
            img{
                width: 100%;
            }
        }
    }
}

  #gis-map{
    width: 100%;
    border-radius: 24px;
    height: 600px;
    margin: 20px 0;
    @media(max-width: 1200px){
        height: 500px;
      }
      @media(max-width: 767px){
        height: 320px;
      }
  }

  .tour-3d{
    position: relative;
    z-index: 0;
    .tab-content{
        padding: 0;
        background: none;
        border-radius: 0;
        .img-wrap{
            @include flex;
            height: 40vw;
            @media(max-width: 1024px){
                height: 75vw;
              }
            img{
                width: 100%;
            }
        }
    }
    .tabs{
        position: absolute;
        bottom: 30px;
        left: 50px;
        z-index: 10;
        margin: 0;
        @media(max-width: 1024px){
           bottom: 20px;
           left: 20px;
          }
        .tab-buttons{
            @include flex;
            button{
                padding: 4px 28px 6px;
                background: white;
                border-radius: 50px;
                margin-right: 10px;
                font-size: 18px;
                color: #7E7E7E;
                @media(max-width: 767px){
                    font-size: 15px;
                  }
                &.active{
                    color: white;
                    background: #7F0217;
                }
            }
        }
    }
  }

  .popups2{
    margin: 20px 0;

    .send-popup, .okey-popup{
        position: relative;
        z-index: 0;
        border-radius: 30px;
        overflow: hidden;
        max-width: 930px;
        width: 100%;
        margin: 0 auto;
        .close-popup{
            position: absolute;
            top: 20px;
            right: 20px;
            cursor: pointer;
            z-index: 10;
            border-radius: 8px;
            background: #7F0217;
            @include flex;
            width: 30px;
            height: 30px;
            img{
                margin: auto;
            }
        }
        .popup-info{
            @include flex;
            form{
                background: white;
                padding: 40px;
                width: 50%;
                @media(max-width: 767px){
                    width: 100%;
                    padding: 30px 20px;
                  }
                h2{
                    font-size: 54px;
                    font-weight: 500;
                    margin-bottom: 20px;
                    line-height: 100%;
                    color: #3B3B3B;
                    @media(max-width: 767px){
                        font-size: 34px;
                        padding-right: 30px;
                      }
                }
                p{
                    font-size: 26px;
                    color: #1F1F1F;
                    margin-bottom: 20px;
                    line-height: 110%;
                    @media(max-width: 767px){
                        font-size: 20px;
                      }
                }
                input{
                    height: 52px;
                    border-radius: 6px;
                    border: 1px solid #ADADAD;
                    margin-bottom: 20px;
                    width: 100%;
                    padding: 0 15px;
                    color: #353535;
                    font-size: 14px;
                    @include placeholder{
                        font-size: 14px;
                        color: rgba(#353535, .7);
                    }
                }
                .send-btn{
                    height: 52px;
                    border-radius: 6px;
                    @include flex;
                    @include align-center;
                    padding: 10px 20px;
                    @include justify-center;
                    color: white;
                    font-size: 16px;
                    font-weight: 500;
                    background: #7F0217;
                    width: 100%;
                    margin-top: 10px;
                    &:hover{
                        background: lighten(#7F0217, 7%);
                    }
                }
            }
            .img{
                @include flex;
                width: 50%;
                @media(max-width: 767px){
                    display: none;
                  }
                img{
                    width: 100%;
                }
            }
        }
        &.okey-popup{
            margin: 20px auto;
            .okey-text{
                background: white;
                padding: 40px;
                width: 50%;
                @include flex;
                @include align-center;
                @include dir-col;
                @include justify-center;
                @media(max-width: 767px){
                    width: 100%;
                    padding: 60px 20px;
                  }
                img{
                    text-align: center;
                    margin-bottom: 30px;
                }
                h3{
                    font-weight: 500;
                    text-align: center;
                    color: #353535;
                    font-size: 28px;
                    @media(max-width: 767px){
                       font-size: 22px;
                      }
                }
            }
        }
    }
  }

  .leave-popup{
    position: relative;
    z-index: 0;
    border-radius: 30px;
    overflow: hidden;
    max-width: 930px;
    width: 100%;
    margin: 0 auto;
    padding: 40px 30px;
    background: white;
    border-radius: 30px;
    @media(max-width: 767px){
       padding: 50px 20px;
       }
    .close-popup{
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
        z-index: 10;
        border-radius: 8px;
        background: #7F0217;
        @include flex;
        width: 30px;
        height: 30px;
        img{
            margin: auto;
        }
    }
    .bottom-line{
        @include flex;
        @include align-center;
        @media(max-width: 767px){
            @include justify-center;;
           }
        .circle{
            width: 40px;
            height: 40px;
            margin-right: 10px;
            @include flex;
            border-radius: 50%;
            border: 1px solid #132C5E;
            img{
                margin: auto;
            }
        }
        .blue-border-btn{
            padding: 10px 30px 12px;
            border: 1px solid #132C5E;
            font-size: 14px;
            font-weight: 500;
            color: #132C5E;
            border-radius: 30px;
            &:hover{
                background: #132C5E;
                color: white;
            }
        }
    }
    .leave-popup-info{
        @include flex;
        @media(max-width: 767px){
            @include dir-col;
           }
        .texts{
            width: 60%;
            @media(max-width: 767px){
               width: 100%;
               }
            .top-line{
                @include flex;
                @include align-center;
                margin-bottom: 8px;
                b{
                    display: block;
                    margin-right: 25px;
                    color: #132C5E;
                    font-weight: 500;
                    font-size: 40px;
                    line-height: 100%;
                    @media(max-width: 767px){
                        font-size: 28px;
                       }
                }
                .style{
                    padding: 4px 20px 6px;
                    border-radius: 30px;
                    background: #132C5E;
                    color: white;
                    font-size: 14px;
                    font-weight: 500;
                }
            }
            p{
                max-width: 260px;
                margin-bottom: 30px;
                color: #132C5E;
                font-size: 30px;
                line-height: 110%;
                @media(max-width: 767px){
                    font-size: 22px;
                   }
            }
            .infos{
                @include flex;
                @include flex-wrap;
                max-width: 500px;
                .info-item{
                    width: 33%;
                    margin-bottom: 20px;
                    @media(max-width: 1024px){
                       width: 50%;
                      }
                    @media(max-width: 767px){
                       width: 100%;
                       margin-bottom: 10px;
                      }
                    span{
                        color: #132C5E;
                        font-size: 14px;
                    }
                    b{
                        display: block;
                        font-size: 20px;
                        font-weight: 500;
                        color: #132C5E;
                        line-height: 100%;
                    }
                }
            }
        }
        .img-wrap{
            width: 40%;
            @include flex;
            @media(max-width: 767px){
                width: 100%;
               }
            img{
                margin: auto;
                max-width: 100%;
                max-height: 100%;
            }
        }
    }
  }
